.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.innerdiv {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  color: black;
}

.button:hover {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
